/* header */
.mod-header {
  position: relative;
  z-index: @zindex-middle;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  padding: 5px 10px;
  border-bottom: 1px solid darken(@brand-danger, 10%);
  background-color: @brand-danger;
  color: @gray-light;

  .title {
    line-height: 33px;
    font-size: @font-size-large-x;
  }
}


/* footerbar */
.mod-footer {

  height: 50px;
  padding: 5px 10px;
  border-top: 1px solid darken(@gray-light, 10%);
  background-color: @body-bg;
  color: @gray-light;

  &.fixed{
    position: fixed;
    z-index: @zindex-middle;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .total {
    color: @brand-danger;
    line-height: 38px;

    i {
      font-size: @font-size-large-x;
    }
  }
  .btn-cart {
    position: relative;
    line-height: 36px;
    min-height: inherit;
    float: right;

    .badge {
      top: -5px;
      right: -5px;
      position: absolute;
    }
  }
}


/* 商品 */
.mod-goodsItem {
  background-color: @body-bg;
  padding: 0 5px;
  .row {
    border-bottom: 1px solid @gray-light;
  }
  .pic {
    display: block;
  }
  .pic + .info {
    margin-top: 5px;
  }
  .info {
    position: relative;
    .title {
      position: relative;
      font-size: @font-size-small;
      color: @gray-base;
      margin-bottom: 15px;
      h2{
        overflow:hidden;
        word-wrap:normal;
        white-space:nowrap;
        text-overflow:ellipsis;
      }
      &.has-edit h2{
        padding-right: 40px;
      }
      .edit{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .subTitle {
      //      margin-bottom: 10px;
      font-size: @font-size-small;
      color: @gray-base;
    }
    .price {
      font-size: @font-size-base;
      color: @brand-danger;
    }
    .price2{
      margin-left: 5px;
      font-size: @font-size-small;
      color: @gray-light;
      text-decoration: line-through;
    }
    .ft {
      position: relative;
      height: 32px;
      line-height: 32px;
      .mod-goodsCount{
        position: absolute;
        right: 0;
      }
    }
  }

  .mod-card {
    //    border: 1px solid @c-green-dark;
    //    border-radius: 3px;
    box-shadow: 0 0 2px darken(@gray-base, 10%);
    .info {
      padding: 10px;
      .title {
        font-size: @font-size-large-x;
      }
    }
  }
}


/* 商品数量加减 */
.mod-goodsCount{
  display: inline-block;
  overflow: hidden;
  &.show span{
    display: block;
  }
  span{
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    a{
      display: block;
      &:active{
        color: red;
      }
    }
  }
  span:last-child{
    border-right: 1px solid @gray-light;
  }
  .minus{
    border: 1px solid @gray-light;
    border-radius: 50%;
    font-size: @font-size-large;
    a{color: @brand-danger;}
  }
  .num{}
  .plus{
    display: block;
    border: 1px solid @gray-light;
    border-radius: 50%;
    font-size: @font-size-large;
    a{color: @brand-danger;}
  }
}