/* 订单详情 */
.orderTables{
  margin-bottom: 20px;
  border-bottom: 1px solid @gray-lighter;
  background-color: @white;

  table{

    width: 100%;
    font-size: @font-size-small;
    text-align: center;

    .c1{width: 108px;}
    .c2{width: 90px;}
    .c3{width: 70px;}
    .c4{width: 42px;}

    thead th{
      padding: 10px 0;
      font-weight: 500;
    }
    tbody{
      font-size: @font-size-small;

      td{
        padding: 15px 0;
        border-top: 1px solid @gray-lighter;
      }
      .cpName{
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
      }
    }

    tfoot{
      td{
        padding: 10px 0;
        border-top: 1px solid @gray-lighter;
      }
    }
  }
}

/* 提示页 */
.message{
  padding:10px;
  text-align: center;

  .pic{ margin-bottom: 20px;}
  h2{ margin-bottom: 10px; font-size: @font-size-large;}
  p{ margin-bottom: 20px;}
}





/* 订单支付页 */
.orderPay{
  .mod-tipsBox{
    background-color: #fff;
  }
  .mod-tipsBox .inner{
    padding: 1px;
  }
  ul{
    padding: 0 10px;
  }
  ul li{
    padding: 15px 10px;
    border-bottom: 1px solid #eeeeee;
  }
  ul li:last-child{
    border-bottom: none;
  }
}




/* 订单列表 */
.orderList{
  .list1 .hd{
    border-top: 1px solid #eeeeee;
  }
}




/* 订单详细 */
.orderDetailView{
  .mod-tipsBox .inner{
    padding: 1px 0;
  }
  .list1 .item{
    margin-bottom: 0;
    border-bottom: none;
  }
}
























