body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:555px;
  top:974px;
  width:97px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:714px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:714px;
}
#u3 {
  position:absolute;
  left:2px;
  top:349px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1231px;
  top:0px;
  width:69px;
  height:60px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1115px;
  top:21px;
  width:95px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:61px;
  top:17px;
  width:145px;
  height:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:25px;
  top:15px;
  width:28px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:654px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:654px;
}
#u15 {
  position:absolute;
  left:2px;
  top:319px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:90px;
}
#u16_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:45px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1px;
  top:145px;
  width:99px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:98px;
  width:99px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u24 {
  position:absolute;
  left:127px;
  top:87px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:126px;
  top:204px;
  width:1159px;
  height:200px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:164px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:329px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:494px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:659px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:824px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:989px;
  top:0px;
  width:165px;
  height:35px;
  font-size:12px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:35px;
  width:164px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:164px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:329px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:494px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:659px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:824px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:989px;
  top:35px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:75px;
  width:164px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:164px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:329px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:494px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:659px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:824px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:989px;
  top:75px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:115px;
  width:164px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:164px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:329px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:494px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:659px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:824px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:989px;
  top:115px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:155px;
  width:164px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:164px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:329px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:494px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:659px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:824px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:989px;
  top:155px;
  width:165px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:127px;
  top:142px;
  width:40px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:167px;
  top:136px;
  width:141px;
  height:30px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u99_input:disabled {
  color:grayText;
}
#u100 {
  position:absolute;
  left:318px;
  top:143px;
  width:14px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:332px;
  top:136px;
  width:141px;
  height:30px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u102_input:disabled {
  color:grayText;
}
#u103 {
  position:absolute;
  left:483px;
  top:136px;
  width:61px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u103_img.mouseDown {
}
#u103.mouseDown {
}
#u103_img.disabled {
}
#u103.disabled {
  opacity:0.5;
}
#u104 {
  position:absolute;
  left:10px;
  top:5px;
  width:41px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1206px;
  top:166px;
  width:74px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u105_img.mouseDown {
}
#u105.mouseDown {
}
#u105_img.disabled {
}
#u105.disabled {
  opacity:0.5;
}
#u106 {
  position:absolute;
  left:10px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1164px;
  top:245px;
  width:74px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u107_img.mouseDown {
}
#u107.mouseDown {
}
#u107_img.disabled {
}
#u107.disabled {
  opacity:0.5;
}
#u108 {
  position:absolute;
  left:10px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1164px;
  top:283px;
  width:74px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u109_img.mouseDown {
}
#u109.mouseDown {
}
#u109_img.disabled {
}
#u109.disabled {
  opacity:0.5;
}
#u110 {
  position:absolute;
  left:10px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1164px;
  top:325px;
  width:74px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u111_img.mouseDown {
}
#u111.mouseDown {
}
#u111_img.disabled {
}
#u111.disabled {
  opacity:0.5;
}
#u112 {
  position:absolute;
  left:10px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1164px;
  top:366px;
  width:74px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u113_img.mouseDown {
}
#u113.mouseDown {
}
#u113_img.disabled {
}
#u113.disabled {
  opacity:0.5;
}
#u114 {
  position:absolute;
  left:10px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:784px;
  top:409px;
  width:216px;
  height:48px;
  color:#FF0000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:48px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:127px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u117_img.mouseDown {
}
#u117.mouseDown {
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:487px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u119_img.mouseDown {
}
#u119.mouseDown {
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:157px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u121_img.selected {
}
#u121.selected {
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:397px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:187px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u125_img.selected {
}
#u125.selected {
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:217px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u127_img.selected {
}
#u127.selected {
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:247px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u129_img.selected {
}
#u129.selected {
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:277px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u131_img.selected {
}
#u131.selected {
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:307px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u133_img.selected {
}
#u133.selected {
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:337px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u135_img.selected {
}
#u135.selected {
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:367px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u137_img.selected {
}
#u137.selected {
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:427px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u139_img.selected {
}
#u139.selected {
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:457px;
  top:450px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u141_img.selected {
}
#u141.selected {
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
