body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:62px;
  top:43px;
  width:360px;
  height:47px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:90px;
  width:360px;
  height:630px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:630px;
}
#u3 {
  position:absolute;
  left:2px;
  top:307px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:126px;
  top:58px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:62px;
  top:90px;
  width:360px;
  height:138px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u7 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:62px;
  top:123px;
  width:360px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u9 {
  position:absolute;
  left:75px;
  top:101px;
  width:265px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:158px;
  top:195px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:158px;
  top:141px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:158px;
  top:168px;
  width:264px;
  height:15px;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:382px;
  top:164px;
  width:29px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:62px;
  top:241px;
  width:360px;
  height:138px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u20 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:62px;
  top:274px;
  width:360px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u22 {
  position:absolute;
  left:76px;
  top:251px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:158px;
  top:346px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:158px;
  top:292px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:158px;
  top:319px;
  width:264px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:382px;
  top:315px;
  width:29px;
  height:29px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:62px;
  top:392px;
  width:360px;
  height:138px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u33 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:62px;
  top:425px;
  width:360px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u35 {
  position:absolute;
  left:76px;
  top:402px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:158px;
  top:497px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:158px;
  top:443px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:158px;
  top:470px;
  width:264px;
  height:15px;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:382px;
  top:466px;
  width:29px;
  height:29px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:75px;
  top:144px;
  width:70px;
  height:70px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u46 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_ann {
  position:absolute;
  left:138px;
  top:140px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:75px;
  top:294px;
  width:70px;
  height:70px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_ann {
  position:absolute;
  left:138px;
  top:290px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:75px;
  top:445px;
  width:70px;
  height:70px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u50 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_ann {
  position:absolute;
  left:138px;
  top:441px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:361px;
  top:95px;
  width:50px;
  height:30px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:371px;
  top:251px;
  width:40px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:371px;
  top:402px;
  width:40px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:62px;
  top:545px;
  width:360px;
  height:138px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u58 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:62px;
  top:578px;
  width:360px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u60 {
  position:absolute;
  left:76px;
  top:555px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:158px;
  top:650px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:158px;
  top:596px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:158px;
  top:623px;
  width:264px;
  height:15px;
  font-size:12px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:382px;
  top:619px;
  width:29px;
  height:29px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:75px;
  top:598px;
  width:70px;
  height:70px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u71 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_ann {
  position:absolute;
  left:138px;
  top:594px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:371px;
  top:555px;
  width:40px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:450px;
  top:241px;
  width:300px;
  height:16px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
