body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:35px;
  width:360px;
  height:47px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:82px;
  width:360px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:117px;
  top:50px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:2479px;
  top:521px;
  width:800px;
  height:200px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:2479px;
  top:791px;
  width:800px;
  height:200px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:3025px;
  top:3086px;
  width:64px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:51px;
  top:82px;
  width:359px;
  height:89px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:89px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:69px;
  top:141px;
  width:122px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:432px;
  top:35px;
  width:300px;
  height:120px;
  color:#FF0000;
  line-height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:115px;
  top:240px;
  width:230px;
  height:35px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:69px;
  top:93px;
  width:122px;
  height:19px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:51px;
  top:123px;
  width:359px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:359px;
  height:1px;
}
