body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:79px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:224px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1231px;
  top:0px;
  width:69px;
  height:60px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1115px;
  top:21px;
  width:95px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:61px;
  top:17px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:25px;
  top:15px;
  width:28px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:134px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:127px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:160px;
  top:121px;
  width:200px;
  height:30px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:370px;
  top:126px;
  width:14px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:392px;
  top:119px;
  width:200px;
  height:30px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:620px;
  top:120px;
  width:61px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_img.mouseDown {
}
#u24.mouseDown {
}
#u24_img.disabled {
}
#u24.disabled {
  opacity:0.5;
}
#u25 {
  position:absolute;
  left:10px;
  top:5px;
  width:41px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1191px;
  top:136px;
  width:83px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u26_img.mouseDown {
}
#u26.mouseDown {
}
#u26_img.disabled {
}
#u26.disabled {
  opacity:0.5;
}
#u27 {
  position:absolute;
  left:10px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:117px;
  top:174px;
  width:1162px;
  height:145px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:35px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:402px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:406px;
  top:0px;
  width:355px;
  height:35px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:761px;
  top:0px;
  width:396px;
  height:35px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:35px;
  width:406px;
  height:35px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:35px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:402px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:406px;
  top:35px;
  width:355px;
  height:35px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:761px;
  top:35px;
  width:396px;
  height:35px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:70px;
  width:406px;
  height:35px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:402px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:406px;
  top:70px;
  width:355px;
  height:35px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:761px;
  top:70px;
  width:396px;
  height:35px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:105px;
  width:406px;
  height:35px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:402px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:406px;
  top:105px;
  width:355px;
  height:35px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:761px;
  top:105px;
  width:396px;
  height:35px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:35px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:318px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:408px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:126px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u57_img.mouseDown {
}
#u57.mouseDown {
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:486px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u59_img.mouseDown {
}
#u59.mouseDown {
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:156px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:396px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:186px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:216px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:246px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:276px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u71_img.selected {
}
#u71.selected {
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:306px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u73_img.selected {
}
#u73.selected {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:336px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u75_img.selected {
}
#u75.selected {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:366px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u77_img.selected {
}
#u77.selected {
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:426px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u79_img.selected {
}
#u79.selected {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:456px;
  top:380px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u81_img.selected {
}
#u81.selected {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:540px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:540px;
}
#u84 {
  position:absolute;
  left:2px;
  top:262px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:135px;
}
#u85_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:141px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:140px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u88 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:45px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:45px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1px;
  top:145px;
  width:99px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:98px;
  width:99px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:189px;
  width:99px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
