body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:98px;
  top:38px;
  width:360px;
  height:47px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:85px;
  width:360px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:98px;
  top:610px;
  width:360px;
  height:44px;
}
#u4_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:49px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:44px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:44px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
