    <div class="scroll-content has-footer sideBar">
        <ul>
            <li ng-click="changeClassify($index)" ng-class="{active: c.current}" ng-repeat="c in classify"><a href="javascript:;">{{c.name}}</a></li>

            <!---->
            <!--<li class="active"><a ng-click="changeMenu('menu1')" href="javascript:;">推荐</a></li>-->
            <!--<li><a ng-click="changeMenu('menu2')" href="javascript:;">三明治三明</a></li>-->
            <!--<li><a ng-click="changeMenu('menu3')" href="javascript:;">咖啡</a></li>-->
            <!--<li><a ng-click="changeMenu('menu4')" href="javascript:;">轻食</a></li>-->
            <!--<li><a ng-click="changeMenu('menu5')" href="javascript:;">主食</a></li>-->
            <!--<li><a ng-click="changeMenu('menu6')" href="javascript:;">饮料</a></li>-->
            <!--<li><a ng-click="changeMenu('menu7')" href="javascript:;">三明治</a></li>-->
            <!--<li><a ng-click="changeMenu('menu8')" href="javascript:;">咖啡</a></li>-->
            <!--<li><a ng-click="changeMenu('menu9')" href="javascript:;">轻食</a></li>-->
            <li><a href="javascript:location.reload();">刷新</a></li>
        </ul>
    </div>


<div class="scroll-content has-footer mainCnt" lazy-img>


    <div class="mod-goodsItem" ng-repeat="g in goods">
        <div class="row">
            <div class="col col-33" ng-if="g.imgUrl">
                <img big-img="g" ng-click="show();" class="pic j-lazyImg" ng-src="{{g.imgUrl}}"/>
            </div>
            <div class="col">

                <div class="info">
                    <div class="title"><h2>{{g.title}}</h2></div>
                    <div class="ft">
                        <span class="price">{{g.price | currency:'￥'}}</span> <span ng-if="g.originPrice" class="price2">{{g.originPrice | currency: '￥'}}</span>

                        <goods-count gid="{{g.gid}}" num="{{g.num}}" goods="g"></goods-count>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- 底部样式1 -->
<div class="mod-footer fixed">
    <div class="total"><span ng-if="getCount() > 0" class="badge">{{getCount()}}</span>￥<i>{{getPrice()}}</i></div>
    <a ng-if="getCount() > 0" class="btn-cart button button-1" ui-sref="order">选 好 了</a>
    <button ng-if="getCount() == 0" disabled class="btn-cart button button-2" ui-sref="order">选 好 了</button>
</div>