body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1206px;
  top:100px;
  width:69px;
  height:33px;
  font-size:12px;
  line-height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.disabled {
}
#u2.disabled {
  opacity:0.5;
}
#u3 {
  position:absolute;
  left:10px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:126px;
  top:79px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:224px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1231px;
  top:0px;
  width:69px;
  height:60px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1115px;
  top:21px;
  width:95px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:61px;
  top:17px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:25px;
  top:15px;
  width:28px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:134px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:313px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:126px;
  top:145px;
  width:1156px;
  height:160px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:35px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:288px;
  top:0px;
  width:288px;
  height:35px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:576px;
  top:0px;
  width:288px;
  height:35px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:864px;
  top:0px;
  width:287px;
  height:35px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:35px;
  width:288px;
  height:60px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:288px;
  top:35px;
  width:288px;
  height:60px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:576px;
  top:35px;
  width:288px;
  height:60px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:864px;
  top:35px;
  width:287px;
  height:60px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:95px;
  width:288px;
  height:60px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:288px;
  top:95px;
  width:288px;
  height:60px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:576px;
  top:95px;
  width:288px;
  height:60px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:864px;
  top:95px;
  width:287px;
  height:60px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:811px;
  top:185px;
  width:62px;
  height:53px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:53px;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:811px;
  top:245px;
  width:62px;
  height:53px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:53px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1097px;
  top:198px;
  width:45px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u51_img.disabled {
}
#u51.disabled {
  opacity:0.5;
}
#u52 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1154px;
  top:198px;
  width:45px;
  height:28px;
  font-size:12px;
  color:#FF0000;
  line-height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.mouseDown {
}
#u53.mouseDown {
}
#u53_img.disabled {
}
#u53.disabled {
  opacity:0.5;
}
#u54 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1097px;
  top:258px;
  width:45px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u55_img.disabled {
}
#u55.disabled {
  opacity:0.5;
}
#u56 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1154px;
  top:258px;
  width:45px;
  height:28px;
  font-size:12px;
  color:#FF0000;
  line-height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u57_img.mouseDown {
}
#u57.mouseDown {
}
#u57_img.disabled {
}
#u57.disabled {
  opacity:0.5;
}
#u58 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:402px;
  top:120px;
  visibility:hidden;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:256px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u60_img {
  position:absolute;
  left:-15px;
  top:-12px;
  width:620px;
  height:286px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:488px;
  top:200px;
  width:80px;
  height:33px;
  font-size:12px;
  line-height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u62_img.mouseDown {
}
#u62.mouseDown {
}
#u62_img.disabled {
}
#u62.disabled {
  opacity:0.5;
}
#u63 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:555px;
  top:16px;
  width:13px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#D7D7D7;
  line-height:21px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:34px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
  opacity:0.5;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:40px;
  width:590px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u67 {
  position:absolute;
  left:18px;
  top:14px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:18px;
  top:85px;
  width:66px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:89px;
  top:76px;
  width:479px;
  height:35px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:392px;
  top:200px;
  width:80px;
  height:33px;
  font-size:12px;
  line-height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u72_img.mouseOver {
}
#u72.mouseOver {
}
#u72_img.mouseDown {
}
#u72.mouseDown {
}
#u72_img.disabled {
}
#u72.disabled {
  opacity:0.5;
}
#u73 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:403px;
  top:0px;
  width:90px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:126px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u76_img.mouseDown {
}
#u76.mouseDown {
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:486px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u78_img.mouseDown {
}
#u78.mouseDown {
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:156px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u80_img.selected {
}
#u80.selected {
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:396px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:186px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u84_img.selected {
}
#u84.selected {
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:216px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u86_img.selected {
}
#u86.selected {
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:246px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u88_img.selected {
}
#u88.selected {
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:276px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u90_img.selected {
}
#u90.selected {
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:306px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u92_img.selected {
}
#u92.selected {
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:336px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u94_img.selected {
}
#u94.selected {
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:366px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u96_img.selected {
}
#u96.selected {
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:426px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u98_img.selected {
}
#u98.selected {
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:456px;
  top:330px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u100_img.selected {
}
#u100.selected {
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:540px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:540px;
}
#u103 {
  position:absolute;
  left:2px;
  top:262px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:135px;
}
#u104_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:141px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:140px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u107 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:45px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u109 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:45px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u111 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1px;
  top:145px;
  width:99px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u113 {
  position:absolute;
  left:0px;
  top:191px;
  width:99px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
